*{
    /* allows us to include padding and border in 
    an elements total width and height */
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    height: 100%;
    background: url('./assets/jason-briscoe.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.new-todo-container{
   text-align: center;
   margin: auto;
}

h1{
    /* Start with specific font, then then generic font 
    families incase thr browser is not compatible with the
    previous font */
    color:white;
    text-shadow: 2px 2px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
}
label{
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 1px 1px black;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.new-todo-input{
    width: 225px;
    background: rgba(255,255,255, 0.5);
}

.todo-container {
    background-color: rgb(130, 239, 130, 0.5);
    border: 1px solid black;
    border-radius: 25px;
    margin: 5%;
}
.todo-list{
    padding: 5%;
    list-style: none;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
} 
.todo-div{
    background-color: rgb(189, 255, 189);
    border: 2px solid black;
    /* The border-radius CSS property rounds the corners 
    of an element's outer border edge.
    You can set a single radius to make circular corners, 
    or two radii to make elliptical corners. */
    border-radius: 25px;
    display: flex;

}
.todo-li{
    width: 93%;
    word-wrap: break-word;
    padding: 20px;
}
.del-btn{
    height: 30px;
    width: 30px;
    margin: auto;
    color: white;
    background-color: red;
    border-radius: 5px;
}


/* 
Powder Blue #
Cadet Blue #
Deep Space Sparkle #
Beige #
Orange Red Crayola #
*/